



<div class="hero-unit">
  <h2>Sign Up</h2>
  <p>
    Enter your email, password,  and password confirmation.
  </p>
  
  <%= form_for( User.new,   :html=>{:class =>"form-horizontal"}, 
        :url =>  user_registration_url ) do |f| %>
        
        
        <div class="control-group">
          <%= f.label :email, "Email" %>
          <div class="controls">
            <%= f.email_field :email, :class=>"input-xlarge", :type => "text" %>
            <p class="help-block">Enter your  email</p>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :password, "Password" %>
          <!-- <label for="input01" class="control-label">Text input</label> -->
          <div class="controls">
            <%= f.password_field :password, :class=>"input-xlarge" %>
            <!-- <input type="text" id="input01" class="input-xlarge"> -->
            <p class="help-block">Enter your password.</p>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :password_confirmation, "Konfirmasi Password" %>
          <!-- <label for="input01" class="control-label">Text input</label> -->
          <div class="controls">
            <%= f.password_field :password_confirmation, :class=>"input-xlarge" %>
            <!-- <input type="text" id="input01" class="input-xlarge"> -->
            <p class="help-block">Enter your password. one more time. for confirmation.</p>
          </div>
        </div>
        

        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
  <% end %>
  
  
  <ul class="pager">
        <li class="previous">
          <!-- <a href="http://potoschool.com/project_submissions/611/pictures/673"> </a> -->
          <%= link_to "← Back to Home ", root_url %>
        </li>
        <!-- <li class="next"><a href="http://potoschool.com/project_submissions/611/pictures/675">Next →</a></li> -->
  </ul>
  
        
        
  <!-- <p><a class="btn btn-primary btn-large">Learn more »</a></p> -->
</div>


